body {
  background-color: white;
  margin: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 90vw;
  max-width: $large-screen;

  main {
    flex: 1;
  }

  @media (max-width: $small-screen) {
    width: 100vw;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  background-color: rgba(white, 0.95);
  backdrop-filter: blur(10px);

  width: 90vw;
  max-width: $large-screen;

  right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}

#editor {
  margin-top: 50px;

  .dante-menu {
    display: none;

    &--active {
      display: inline-block;
    }
  }
}

article {
  margin-top: 140px;
}

header, footer {
  .green {
    color: $green;
  }

  .blue {
    color: $blue;
  }

  a {
    user-select: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: 100ms;
    font-weight: 700;
    cursor: pointer;


    &.bg {
      color: black;
      background-color: transparent;
      border-bottom: 3px solid black;


      &:hover {
        color: white;
      }

      &:after {
        position: absolute;
        width: 100%;
        height: 0;
        content: '';
        display: block;
        background-color: black;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: 100ms;
      }

      // &.green:after {
      //   background-color: $green;
      // }

      // &.blue:after {
      //   background-color: $blue;
      // }

      &:hover:after {
        height: 100%;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    sup {
      cursor: help;
    }
  }
}
